 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;700&family=Noto+Sans:ital,wght@0,100;1,500&family=Noto+Serif:ital,wght@1,400;1,700&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,500;1,700&display=swap'); 
 *{
    margin: 0%;
    padding: 0%;
    outline: none;
 }